html {
    height: 100%;
    overflow: hidden;
  }
  body { 
    margin:0;
    padding:0;
      perspective: 1px;
      transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
  }
  h1 {
    font-size: 350%;
    text-align: center;
    color: #db9ec2;
  }
  h2 {
    font-size: 150%;
    text-align: center;
    color: #ffffff;
  }
  .slide {
    position: relative;
    padding: 0 0 10% 0;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
   
      transform-style: inherit;
  }
  .slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slide, .slide:before {
    background: 100% ; 
     

  }
  #intro {
    background-color: black;
    z-index:2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #slide1:before {
    background-image: url("assets/giedre.jpg");
    background-position: center center;
    transform: translateZ(-1px) scale(2);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #slide2 {
    background-color: black;
    background-position: center center;
    z-index:2;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* #slide3:before {
    background-image: url("assets/hero.jpg");
    transform: translateZ(-1px) scale(2);
  } */

  /* Slider */



  #slider {
    position: relative;
width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.slider-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 5%;
}
@media only screen and (max-width: 600px) {
    .slider-content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        padding: 5%;
    }
  }
.slider-content img{
    max-width: 320px;
}
.slider-content-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-content h1 {
    font-size: 150%;
    text-align: center;
    color: #db9ec2;
  }
  .slider-content p {
    font-size: 90%;
    text-align: center;
    color: #ffffff;
  }
#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}
.slide3-img, .slide3-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide3-img img{
width: 40%;
}
button {
    border: 2px solid white;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  